h1 {
    text-align: center;
    color: hotpink;
    font-size: 60px;
}

hr {
    height: 13px;
    background-color: hotpink;
    margin: 0;
    padding: 0;
    border-style: none;
}

img {
    height: 60%;
}
