body {
    background: beige;
}

div {
    width: 400px;
    height: 550px;
    text-align: center;
    color: #87CEEB;
    background: #FFF8DC;
    border: 10px solid brown;
    margin: 0px auto;
    padding: 20px;
    border-style: dotted;
    font-size: 26px;
}

input,
select,
textarea {
    border: 3px solid #87CEEB;
    font-size: 26px;
    background-color: #F0FFFF;
    color: tan;
}

select {
    color: hotpink;
}

select option {
    color: hotpink;
}
