body {
    font-family: "微软雅黑";
    font-size: 40px;
    background: #F7F7F7;
    text-align: center;
}

table {
    width: 600px;
    padding: 10px;
    border-collapse: collapse;
    margin: auto;
}

table tr,
th {
    border: 1px solid #008000;
    height: 60px;
}

tr.head {
    background-color: #D2B48C;
}

tr.alt {
    background-color: #DDDDDD;
}

th {
    width: 30%;
    color: #777;
}

td {
    padding-left: 20px;
    color: #444;
}
